* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-image: url('https://wallpapercave.com/wp/wp1902707.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 1300px;
}
header {
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.5rem;
  background-color: #F08080;
  border-radius: 10px;
  border: 2px solid black;
}
main {
  max-width: 400px; 
  min-width: 320px;
  width: 90%;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #FFF0F5;
}
h1 {
  margin-top: 5px;
  font-family: Helvetica;
}
h2 {
  margin-top: 10px;
  font-family: Helvetica;
  text-align: center;
  font-size: 2rem;
}
#input-container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}
input {
  height: 30px;
  font-size: 1.2rem;
}
#pokemon-container {
  margin-top: 10px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 1.4rem;
  font-family: Helvetica;
  margin-left: 5px;
}
#pokemon-name {
  font-weight: bold;
  font-size: 1.7rem;
}
#pokemon-id {
  font-size: 1.7rem;
}
#sprite {
  width: 100%;
}
.types {
  font-weight: bold;
  margin-left: 10px;
}
#stats-table {
  width: 90%;
  margin: 0 auto 20px;
}
th {
  outline: 2px solid black;
}
tr {
  text-align: center;
  font-size: 1.2rem;
  font-family: Helvetica;
  width: 100%;
}
td {
  outline: 2px solid black;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}
